.list {
    background-color: #fff;
    padding: 3%;
    border-radius: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scrolling-table {
    max-height: 300px;
    overflow-y: auto;
    text-align: center;
}

.btn {
    border-radius: 7px;
}
.btn-primary{
    background-color: #007da5;
}

.scrolling-table::-webkit-scrollbar {
    width: 2px;
}

.scrolling-table::-webkit-scrollbar-thumb {
    background-color: #91999f;
    border-radius: 10px;
    border: 2px solid #343a40;
}

.scrolling-table::-webkit-scrollbar-track {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.scrolling-table {
    scrollbar-width: thin;
    scrollbar-color: #9ca4ab #f8f9fa;
}